@font-face {
  font-family: 'Klavika';
  src: url('../fonts/KlavikaWebBasicMedium.eot') format('embedded-opentype'),
       url('../fonts/KlavikaWebBasicMedium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}