/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/
.wrapper {
  @extend .cf;

  clear: both;
  margin: 0 auto;
  max-width: 1075px;
  padding: 0 15px;

  @include media($desk-start) {
    padding: 0 30px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1015px;
}

.site-content {
  margin-bottom: $base-spacing-unit * 2;
  margin-right: 15px;

  @include media(min-width $lap-start) {
    margin-right: 50px;
  }

  @include media(min-width $desk-start) {
    margin-right: 0;
  }
}

.post-article,
.page-article {
  margin-bottom: $base-spacing-unit * 3;

  > h2:not(.schedule-date),
  > h3,
  > h4,
  > h5,
  > h6,
  > ul:not(.landing-list):not(.col-list):not(.partners-list),
  > blockquote,
  > p:not(.pull-text),
  > .wufoo,
  > .pricing,
  > .speaker-details {

    @include media($lap-start) {
      margin-left: pxtoper(80px, 650px);
      width: pxtoper(480px, 650px);
    }

    @include media($desk-start) {
      margin-left: pxtoper(90px, 880px);
      width: pxtoper(610px, 880px);
    }
  }

  .wp-caption {
    max-width: 100%;
  }

  > img {

    @include media($lap-start) {
      width: pxtoper(650px, 650px);
    }

    @include media($desk-start) {
      width: pxtoper(790px, 880px);
    }
  }
}

.pull-text {
  margin-bottom: em($base-spacing-unit, $size-delta);

  @include media($lap-start) {
    width: pxtoper(565px, 650px);
  }

  @include media($desk-start) {
    width: pxtoper(700px, 880px);
  }
}

.col-list {
  @extend .cf;

  margin-left: 0;
  margin-bottom: 40px;

  li {
    @include media(min-width $lap-start max-width $lap-end) {
      @include span-columns(6);

      &:nth-child(even) {
        @include omega;
      }

      &:nth-child(odd) {
        clear: both;
      }
    }

    @include media($desk-start) {
      @include span-columns(4);

      &:nth-child(3n) {
        @include omega;
      }

      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }

  h3 {
    margin-bottom: 0;
  }
}

.partners-list {
  @extend .cf;

  max-width: 880px;
  margin: 0 auto 40px;

  li {
    height: 100px;

    @include media(max-width $palm-end) {
      @include span-columns(6);

      &:nth-child(even) {
        @include omega;
      }
    }

    @include media(min-width $lap-start max-width $lap-end) {
      @include span-columns(4);

      &:nth-child(3n) {
        @include omega;
      }
    }

    @include media($desk-start) {
      @include span-columns(2);

      &:nth-child(6n) {
        @include omega;
      }
    }
  }
}

.icon-item--track {
  @include outer-container;

  margin-bottom: $base-spacing-unit;
}

.icon-img {
  @include span-columns(2);
}

.icon-content {
  @include span-columns(10);

  h3 {
    margin-bottom: 0;
  }
}

.wufoo-list {
  @extend .unstyled-list;

  margin-bottom: $base-spacing-unit;

  li {
    @extend .cf;

    margin-bottom: $base-spacing-unit;

    &.oneoftwo {
      @include span-columns(6);

      &:nth-child(even) {
        @include omega;
      }

      &:nth-child(odd) {
        clear: both;
      }
    }

    &.clear {
      clear: both;
    }

    &.inline {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .wufoo-name {
    @include span-columns(6);
  }

  .wufoo-phone {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
  }

  h3 {
    font-size: 30px;
  }

  .desc {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5px;
  }
}
