/*------------------------------------*\
    $LANDING - LAYOUT
\*------------------------------------*/
.landing-list,
.profile-list {
  @include outer-container;
}

.landing-item {
  margin-bottom: $base-spacing-unit;
  position: relative;

  &.no-image {

    .landing-item__header {
      height: 334px;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: $half-spacing-unit;
    }

    .post-type {
      left: -4px;
      top: -4px;
    }
  }

  &.has-image {

    h2 {
      margin-bottom: $base-spacing-unit;
    }
  }

  .byline {
    margin-bottom: 0;
  }
}

.landing-item--posts {
  @include media($lap-start) {
    @include span-columns(6);

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}

.landing-item--profiles {
  @include media(max-width $palm-end) {
    @include span-columns(6);

    &:nth-child(even) {
      @include omega;
    }

    &:nth-child(odd) {
      clear: both;
    }
  }

  @include media(min-width $lap-start max-width $lap-end) {
    @include span-columns(3);

    &:nth-child(4n) {
      @include omega;
    }

    &:nth-child(4n+1) {
      clear: both;
    }
  }

  @include media($desk-start) {
    @include span-columns(2.4);

    &:nth-child(5n) {
      @include omega;
    }

    &:nth-child(5n+1) {
      clear: both;
    }
  }
}

.profile-item {
  margin-bottom: $base-spacing-unit;
  position: relative;

  h3 {
    margin-bottom: $half-spacing-unit;
  }

  @include media(max-width $palm-end) {
    @include span-columns(6);

    &:nth-child(even) {
      @include omega;
    }

    &:nth-child(odd) {
      clear: both;
    }
  }

  @include media(min-width $lap-start max-width $lap-end) {
    @include span-columns(3);

    &:nth-child(4n) {
      @include omega;
    }

    &:nth-child(4n+1) {
      clear: both;
    }
  }

  @include media($desk-start) {
    @include span-columns(3);

    &:nth-child(4n) {
      @include omega;
    }

    &:nth-child(4n+1) {
      clear: both;
    }
  }
}

.landing-item--schedule {
  margin-bottom: 40px;
}

.landing-item__schedule-details {
  @extend .cf;

  @include media(max-width $palm-end) {
    .session-date {
      @include span-columns(8);
    }

    .btn {
      @include span-columns(4);
    }
  }

  @include media($lap-start) {
    @include span-columns(3);
    .session-date {
      margin-bottom: 10px;
    }

    span {
      display: block;
    }
  }
}

.landing-item__schedule-header {
  margin-bottom: 20px;

  @include media($lap-start) {
    @include span-columns(6);
  }

  h2 {
    margin-bottom: 0;
  }
}

.landing-item__schedule-icons {

  @include media($lap-start) {
    @include span-columns(3);
  }
}
